venv
.DS_Store
__pycache__
results/derived_data/posteriors/hierarchical_expo*
results/derived_data/posteriors/growth_factor_model_2_free*
results/derived_data/posteriors/growth_factor_model_3_free*
results/derived_data/posteriors/growth_factor_model_4_free*
results/derived_data/posteriors/growth_factor_model_5_free*
*.docx
*cover letter.pdf